* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}


.warning {
    display: none;
    
}

section {
    display: flex;
}

.navbar {
    width: 250px;
    padding: 1rem;
    position: relative;
    height: 100vh;
    overflow: hidden;
    transition: all 0.3s;
    background:rgb(129,173,244);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.navbar.active {
    width: 0px;
    padding: 0;
}

.navbar img {
    margin-left: 10px;
    width: 150px;
    margin-bottom: 20px;
}

.center-nav,
.bottom-nav {
    list-style: none;
}

.center-nav a,
.bottom-nav a {
    color: #000;
    text-decoration: none;
    margin-left: 5px;
}

.center-nav li,
.bottom-nav li {
    padding: 5px 20px;
    margin: 5px 0;
    transition: all 0.3s;
}

.center-nav li:hover,
.bottom-nav li:hover {
    color: purple;
    transform: translateX(4px);
}

.bottom-nav li a:hover , .center-nav li a:hover {    
    color: purple;
}

hr {
    margin-left: 20px;
    height: 1.5px;
    display: block;
    margin-bottom: 5px;
    width: 150px;
    background-color: #2f2c2c1d;
    outline: none;
    border: none;
}

.bottom-nav {
    position: absolute;
    bottom: 30px;
}



.bars {
    cursor: pointer;
}

.main-content {
    padding: 10px;
    width: 100%;
}

.main-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 10px 0;
}

.bar {
    margin: 3px 0;
    width: 20px;
    height: 4px;
    border-radius: 4px;
    background-color: #000;
}

.input {
    width: 100%;
    text-align: center;
}

.input input {
    width: 90%;
    outline: none;
    border: none;
    border: 1px solid rgb(153, 132, 132);
    padding: 10px;
    border-radius: 10px;
}

.user {
    width: 40px;
    position: relative;
    transform: scaleX(-1);
}

.user img {
    width: 100%;
}

.dashboard {
    padding: 10px;
}

.heading {
    margin: 10px 0;
}

.color-box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box {
    display: flex;
    height: 120px;
    flex-direction: column;
    width: 180px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin: 10px 5px;
}

.box i {
    font-size: 1.3rem;
    margin-bottom: 5px;
    color: #000000;
}




.box p {
    line-height: 30px;
}

.skyblue {
    background-color: rgb(135, 220, 253);
}

.yellow {
    background-color: rgb(231, 251, 151);
}

.purple {
    background-color: rgb(243, 178, 255);
}

.red {
    background-color: rgb(255, 178, 178);
}


.activity {
    padding: 10px;
    margin: 10px 0;
}

.activity table {
    width: 100%;
}

tr {
    row-gap: 0px;
}

th {
    line-height: 40px;
    text-align: left;
}

td {
    line-height: 28px;
}

td,
th {
    margin: 0;
}

@media screen and (max-width:630px) {
    section {
        display: none;
    }

    .warning {
        padding: 5rem;
        text-align: center;
        line-height: 35px;
        background-color: rgb(185, 72, 72);
        display: flex;
        color: #e1cdcd;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
    }
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    background: rgba(205, 219, 245, 0.473);
   
  }


  
  .logo h1{
    color: var(--color-blue);
    font-size: 30px;
    text-align: left;
  }
  .menu-bar img{
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  }
  .logo span {
    color: var(--color-primary);
  }
  
  .menu-bar {
    background:linear-gradient(to right,rgb(231,253,194),rgb(129,173,244));
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    border-bottom: solid black 5px ;
  
    position: relative;
  }
  
  .menu-bar ul {
    list-style: none;
    display: flex;
  }
  
  .menu-bar ul li {
    padding: 10px 30px;
  
    position: relative;
  }
  
  .menu-bar ul li a {
    font-size: 20px;
    color: var(--color-white);
    text-decoration: none;
    border-bottom:solid black 2px ;
    transition: all 0.3s;
  }
  
  .menu-bar ul li a:hover {
    color: var(--color-primary);
  }
  
  
  .dropdown-menu {
    display: none;
  }
  
  .menu-bar ul li:hover .dropdown-menu {
    display: block;
    position: absolute;
    left: -100px;
    top: 100%;
    background-color: white;
    border: solid black 2px;
  }
  
  .menu-bar ul li:hover .dropdown-menu ul {
    display: block;
    margin: 10px;
  }
  
  .menu-bar ul li:hover .dropdown-menu ul li {
    width: 200px;
    padding: 10px;
  }
  
  .dropdown-menu-1 {
    display: none;
  }
  
  .dropdown-menu ul li:hover .dropdown-menu-1 {
    display: block;
    position: absolute;
    left: 150px;
    top: 0;
    background-color: white;
    border: solid black 2px;
  }
  .menu-bar ul li:hover .dropdown-menu1 ul {
    display: block;
    margin: 10px;
    left: -100px;
  }
  
  .menu-bar ul li:hover .dropdown-menu1 ul li {
    width: 150px;
    padding: 10px;
  }
  .dropdown-menu1 {
    display: none;
  }
  
  .menu-bar ul li:hover .dropdown-menu1 {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: white;
    border: solid black 2px;
  }
  
  .menu-bar ul li:hover .dropdown-menu1 ul {
    display: block;
    margin: 10px;
  }
  
  .menu-bar ul li:hover .dropdown-menu1 ul li {
    width: 200px;
    padding: 10px;
  }
  .approve{
    background-color: green;
    color: black;
    cursor: pointer;
    border: solid 1px black;
    padding: 10px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
  .approve:hover{
    background-color: green;
    color: white;
    

  }
  .approve{
    background-color: crimson;
    color: black;
    cursor: pointer;
    border: solid 1px black;
    padding: 10px;
    border-radius: 20px;


  }
  .approve:hover{
    background-color: crimson;
    color: white;
    

  }
.approve{
    background-color: green;
    color: black;
    cursor: pointer;
    border: solid 1px black;
    padding: 10px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
  .approve:hover{
    background-color: green;
    color: white;
    

  }
  .remove{
    background-color: crimson;
    color: black;
    cursor: pointer;
    border: solid 1px black;
    padding: 10px;
    border-radius: 20px;


  }
  .remove:hover{
    background-color: crimson;
    color: white;
    

  }




  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
.container{
    background-color: white;
    width: 100%;
    height: auto;
    border: solid 2px black;
    display: flex;
  
}
.form{
  flex: 50%;
  
}

input.inside{
    padding: 5px;
    width: 150px;
}
 input{
    margin-bottom: 10px;
    
}
label{
    margin-left : 20px;
   text-align: justify;
}
select{
    margin-bottom: 40px;
    width: 200px;
    height: 50px;
}
option{
    width: 200px;
    height: 50px;
}
.submit{
  padding: 10px;
 position: relative;
 border: none ;
 border-radius: 30%;
 background-color:rgba(28, 183, 189, 0.89);
  float:right;
  width: 100px;
  margin-right: 50px;
  cursor: pointer;
}